<form class="" action="/galvanize_reads/library/authors" method="post">
  <label for="fName">First Name</label>
  <input type="text" name="fName" value="">
  <label for="lName">Last Name</label>
  <input type="text" name="lName" value="">
  <label for="">Bio</label>
  <input type="text" name="biography" value="">
  <label for="">Portrait URL</label>
  <input type="text" name="portrait" value="">
  <div class="authorBox"></div>
  <button type="submit" name="button">Add Author</button>
</form>
